name: DevSecOps Security Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  security-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t awsassignment-app:secure .

      # ---------- TRIVY SCAN ----------
      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: awsassignment-app:secure
          format: 'table'
          output: 'trivy-secure-report.txt'
          exit-code: 0            # Don't fail pipeline for vulnerabilities
          ignore-unfixed: true
          severity: HIGH,CRITICAL

      - name: Upload Trivy Report
        uses: actions/upload-artifact@v3
        with:
          name: trivy-secure-report
          path: trivy-secure-report.txt

      # ---------- SNYK SCAN ----------
      - name: Run Snyk Scan
        uses: snyk/actions/docker@master
        continue-on-error: true    # Prevent pipeline from failing if issues found
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: awsassignment-app:secure
